
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   
     <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.onlinebookstore.controller.RegistrationController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.onlinebookstore.controller.LoginController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>AddBookController</servlet-name>
        <servlet-class>com.onlinebookstore.controller.AddBookController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>AdminViewBookController</servlet-name>
        <servlet-class>com.onlinebookstore.controller.AdminViewBookController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>DeleteBookServletController</servlet-name>
        <servlet-class>com.onlinebookstore.controller.DeleteBookServletController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>com.onlinebookstore.controller.UpdateBook</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SearchBookResultServlet</servlet-name>
        <servlet-class>com.onlinebookstore.controller.SearchBookResultServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SuccessFullPerches</servlet-name>
        <servlet-class>com.onlinebookstore.controller.SuccessFullPerches</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UserBuyHistoryServlet</servlet-name>
        <servlet-class>com.onlinebookstore.controller.UserBuyHistoryServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateDataBaseBook</servlet-name>
        <servlet-class>com.onlinebookstore.controller.UpdateDataBaseBook</servlet-class>
    </servlet>
    <!--  <servlet>
        <servlet-name>AjaxDataHandle</servlet-name>
        <servlet-class>com.onlinebookstore.model.AjaxDataHandle</servlet-class>
    </servlet> -->
   <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>AddBookController</servlet-name>
        <url-pattern>/AddBookController</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>AdminViewBookController</servlet-name>
        <url-pattern>/AdminViewBookController</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>DeleteBookServletController</servlet-name>
        <url-pattern>/DeleteBookServletController</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SearchBookResultServlet</servlet-name>
        <url-pattern>/SearchBookResultServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SuccessFullPerches</servlet-name>
        <url-pattern>/SuccessFullPerches</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>UserBuyHistoryServlet</servlet-name>
        <url-pattern>/UserBuyHistoryServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>UpdateDataBaseBook</servlet-name>
        <url-pattern>/UpdateDataBaseBook</url-pattern>
    </servlet-mapping>
   <!-- <servlet-mapping>
        <servlet-name>AjaxDataHandle</servlet-name>
        <url-pattern>/AjaxDataHandle</url-pattern>
    </servlet-mapping> -->
   
    
</web-app>
 